<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <div class="display-4">Contact Us</div>
    <p class="lead">This is a simple Contact page</p>
</div>
<div class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga assumenda ullam corporis. Sint, rerum quidem
        consequuntur voluptatem, nobis quas corrupti voluptates natus voluptate voluptatum, at soluta. Deserunt vel
        officiis
        enim odio voluptatum omnis ad. Adipisci enim recusandae nisi nemo ducimus! Molestiae iusto, saepe laboriosam
        fuga
        iste cupiditate perspiciatis sed ratione illum totam hic iure laudantium quibusdam eveniet provident rem
        mollitia
        debitis quasi. Ratione architecto dignissimos dolores exercitationem veniam, iste illo quia fugiat sint iure?
        Ipsum
        ut repellendus unde esse possimus iste officiis at quas assumenda eos. Illum reiciendis molestias aspernatur
        dolor
        nesciunt id labore maiores libero incidunt tempora? Fugiat, inventore!
    </p>
</div>
<div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto obcaecati quis perferendis tempore veritatis
        incidunt iusto, natus nostrum quia ipsum debitis libero commodi dolore explicabo quasi soluta quisquam impedit
        exercitationem, nisi possimus error quidem nobis. Placeat, iste quo ut, sint neque a nisi ipsum et adipisci
        porro sit
        quae quaerat. Placeat, vitae veritatis blanditiis maiores et earum soluta vero ducimus impedit saepe aspernatur
        omnis
        ratione quasi ullam expedita exercitationem fuga minima delectus harum unde sunt sapiente nemo eos voluptatem?
        Voluptatibus odit magni veniam voluptates in, molestiae exercitationem. Repellendus cupiditate quia perferendis
        at magni
        labore officiis repellat voluptatum sapiente, quos omnis.</p>
</div>