<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="wrapper">
                <h2 class="">Register</h2>
                <hr>
                <form #registerForm="ngForm" (submit)="onSubmitHandler()">
                    <!-- <h2>{{registerForm.value |json}} </h2>
                    <hr>
                    <h2>{{userModel|json}}</h2> -->
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control "
                            [(ngModel)]="userModel.firstName" required #firstName="ngModel"
                            [class.is-invalid]="firstName.invalid &&firstName.touched" placeholder="" />
                        <small class="text-danger" [class.d-none]="firstName.untouched||firstName.valid">First Name is
                            Required</small>
                        <!-- <h1>{{firstName.untouched}}</h1> -->
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control " [(ngModel)]="userModel.email"
                            #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            [class.is-invalid]="email.invalid &&email.touched">
                        <div *ngIf="email.errors&&email.touched">
                            <small class="text-danger" *ngIf="email.errors['required']">Email is required</small><br>
                            <small class="text-danger" *ngIf="email.errors['pattern']">Enter a valid email
                                address</small>
                        </div>
                        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">
                            <ng-container *ngIf="email.hasError('required')">
                              Email is required
                            </ng-container>
                            <ng-container *ngIf="!email.hasError('required') && email.hasError('pattern')">
                              Enter a valid email address
                            </ng-container>
                          </small> -->
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="number" name="mobile" id="mobile" class="form-control "
                            [(ngModel)]="userModel.mobile" #mobile="ngModel" required pattern="^\d{10}"
                            [class.is-invalid]="mobile.invalid &&mobile.touched">
                        <div *ngIf="mobile.errors&&email.touched">
                            <small class="text-danger" *ngIf="mobile.errors['required']">Mobile Number is
                                required</small><br>
                            <small class="text-danger" *ngIf="mobile.errors['pattern']">Mobile Number must be of 10
                                digits</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control "
                            [(ngModel)]="userModel.password" #password="ngModel" required minlength="6"
                            [class.is-invalid]="password.invalid &&password.touched">
                        <div *ngIf="password.errors&&email.touched">
                            <small class="text-danger" *ngIf="password.errors['required']">Password is
                                required</small><br>
                            <small class="text-danger" *ngIf="password.errors['minlength']">Password must contain
                                minimum of 6 characters</small>
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-block"
                        [disabled]="registerForm.invalid">

                </form>
                <br>
                <p class="text-center">
                    Already Registered? <a routerLink="/login">Click Here</a>

                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>